NODE_ENV=development
PORT=3000
CORS_ORIGINS=http://localhost:5173,http://localhost:3001

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# VietQR & SePay Webhook
VIETQR_BANK_ID=970436
VIETQR_ACCOUNT_NO=1017588888
VIETQR_ACCOUNT_NAME=NGUYEN VAN A
SEPAY_WEBHOOK_TOKEN=your_sepay_token

DB_CONNECTION=

JWT_SECRET=
# 3 days
JWT_EXPIRES=3d
